body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

p {
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
}
.header-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #e0e0e0;
}

#header-text {
    font-size: 24px;
}

#subtitle {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 20px;
    padding: 20px 20px;
}

#logo-picture {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}